<section class="relative">
    <div class="contact max-width">
        <div class="header ai-center" data-aos="fade-right" data-aos-offset="200" data-aos-duration="800">
            <div class="line"></div>
            <h2>{{ "contact.title" | translate }}</h2>
        </div>
        <div class="padding-l100 padding-r100 contact-form">
            <div class="contact-text" data-aos="fade-right" data-aos-offset="200" data-aos-duration="800">
                <h4>{{ "contact.question" | translate }}</h4>
                <span>
                    <p>{{ "contact.description" | translate }}</p>
                    <p>{{ "contact.need_help" | translate }} <b>{{ "contact.contact_me" | translate }}</b></p>
                </span>
            </div>
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm" data-aos="zoom-in" data-aos-offset="200" data-aos-duration="800">
                <div>
                    <input minlength="2" [(ngModel)]="contactData.name" #name="ngModel" type="text" id="name" name="name"
                        required placeholder="{{ 'contact.placeholder_name' | translate }}">
                    <p class="error" *ngIf="!name.valid && name.touched">{{ "contact.required_name" | translate }}</p>
                </div>
                <div>
                    <input [(ngModel)]="contactData.email" #email="ngModel" type="text" id="email" name="email" required
                        placeholder="{{ 'contact.placeholder_email' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                    <p class="error" *ngIf="!email.valid && email.touched">{{ "contact.required_email" | translate }}</p>
                </div>
                <div>
                    <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" id="message"
                        required placeholder="{{ 'contact.placeholder_message' | translate }}"></textarea>
                    <p class="error" *ngIf="!message.valid && message.touched ">{{ "contact.required_message" | translate }}</p>
                </div>
                <div>
                    <div class="privacy ai-center">
                        <input type="checkbox" (change)="onCheckboxChange(checkbox.checked)" name="checkbox" [(ngModel)]="contactData.checkbox" #checkbox required class="checkbox">
                        <p>{{ "contact.read" | translate }} <a (click)="openPrivacy()">{{ "contact.privacy_policy" | translate }}</a> {{ "contact.agreed" | translate }}
                        </p>
                    </div>
                    <p class="error privacy-error-position" *ngIf="showCheckboxError">Please accept the privacy policy.</p>
                </div>
                <button type="submit" [disabled]="!name.valid || !email.valid || !message.valid || !checkbox.checked"
                    class="button">{{ "contact.button" | translate }}</button>
            </form>
        </div>
    </div>
    <div class="shadow shadow-green"></div>
    <div class="shadow shadow-purple"></div>
</section>