// Small Laptops and Notebooks
@media (max-width: 1540px) {
    .ellipse {
        height: clamp(96rem, 204vh, 112rem);
        top: 0;
    }
}

// Tablets and Smartphones
@media (max-width: 940px) {
    .ellipse {
        background-image: url(./../../../assets/img/Background-mobile.svg);
        height: clamp(70rem, 159vh, 80rem);
    }
}