@media (max-width: 1150px) {
    .spacing {
        gap: 0;
    }

    .header {
        .line {
            width: 68px;
        }
    }

    .skills-section {
        gap: 4rem;
    }
}

@media (max-width: 980px) {
    section {
        flex-direction: column-reverse;
        align-items: center;
    }

    .header {
        .line {
            width: 150px;
        }
    }

    .spacing {
        gap: 7rem;
    }

    .description {
        align-self: flex-end;
        width: 100%;
        padding-top: 0;

        p {
            align-self: flex-end;
            text-align: right;
        }
    }

    .skills-section {
        padding-bottom: 40px;
        align-items: center;
        justify-content: center;
        padding-right: 50px;
        width: unset;
        gap: 5rem;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media (max-width: 550px) {
    .header {
        .line {
            width: 80px;
        }
    }

    .skills-section {
        padding-left: 20px;
        padding-right: 20px;
        
        div {
            width: 3rem;
            height: 4rem;
        }
    }


}