.footer {
    height: 30vh;
    border-top: solid 5px #70E61C;
}

.copyright {
    font-size: 2rem;
    font-family: poppins-light;
}

.link {
    color: white;
    text-decoration: none;
}

.green {
    color: #70E61C;
}

.start {
    text-decoration: none;
    color: white;
}