<section class="footer padding-r100 padding-l100 jc-between ai-center">
    <div>
        <a href="#start" class="start"><h2><b class="green">B</b>ilal</h2></a>
        <a class="link" href="#">Impressum</a>
    </div>
    <p class="copyright">&copy; Bilal Alaç 2024</p>
    <div class="flex-row gap4">
        <img class="icon50" src="./../../assets/img/icons/github.svg" alt="">
        <img class="icon50" src="./../../assets/img/icons/email.svg" alt="">
        <img class="icon50" src="./../../assets/img/icons/linkedIn.svg" alt="">
    </div>
</section>
