.footer {
    height: 30vh;
    border-top: solid 5px #70E61C;
}

.copyright {
    font-size: 2rem;
    font-family: poppins-light;
}

.link {
    color: white;
    text-decoration: none;
    transition: all 225ms ease-in-out;

    &:hover {
        color: #70E61C;
        text-decoration: underline #70E61C;
    }
}

.green {
    color: #70E61C;
}

.start {
    text-decoration: none;
    color: white;
}