<section class="footer padding-r100 padding-l100 jc-between ai-center">
    <div>
        <a href="#start" class="start"><h2><b class="green">B</b>ilal</h2></a>
        <a class="link" href="#">Impressum</a>
    </div>
    <p class="copyright">&copy; Bilal Alaç 2024</p>
    <div class="flex-row gap4">
        <a class="icon50" href="https://github.com/bilo3131" target="_blank"><img class="icon50" src="./../../assets/img/icons/github.svg" alt="">
        </a>
        <a class="icon50" href="mailto:bilalalac@gmail.com"><img class="icon50" src="./../../assets/img/icons/email.svg" alt="">
        </a>
        <a class="icon50" href="https://www.linkedin.com/in/bilal-alac-475978281/" target="_blank"><img class="icon50" src="./../../assets/img/icons/linkedIn.svg" alt="">
        </a>
    </div>
</section>
