<section class="about-me padding-l100 relative" id="about-me">
    <div class="relative">
        <div class="text-section relative" data-aos="fade-right" data-aos-offset="500">
            <h2>About me</h2>
            <span>
                <p>Hi, I am a fast-learning frontend developer based in Biedenkopf, Germany, with a passion for overcoming
                    challenges and acquiring new skills. I thrive in dynamic environments where I can continuously improve
                    and expand my expertise. My determination and adaptability make me a valuable asset to any team, always
                    eager to take on new projects and push the boundaries of my knowledge.</p>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../assets/img/icons/bulb.svg" alt="">
                    <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam neque asperiores, odio quasi hic
                        beatae consequatur laborum officiis animi ab harum eligendi fuga quam explicabo, maxime voluptate a
                        omnis veritatis.</p>
                </span>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../assets/img/icons/puzzle.svg" alt="">
                    <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore assumenda esse, odit quia
                        consequuntur accusantium harum aliquam excepturi consectetur officia dignissimos. Iusto natus libero
                        possimus dolores, doloremque alias ab fugit!</p>
                </span>
            </span>
        </div>
        <div class="image-section ai-center" data-aos="fade-left" data-aos-offset="500">
            <div class="round-border"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="shadow"></div>
</section>