<div>
    <h1>About me</h1>
    <span>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora, assumenda distinctio a enim vitae sed deserunt accusantium, sunt ipsam et, error tempore laboriosam beatae consequatur quia iusto maxime. Ratione, 
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reprehenderit ab quas eaque nemo quisquam sed nisi? Nesciunt ipsam error, molestias inventore, in accusamus sequi optio magni, doloribus cum porro excepturi!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit exercitationem vitae natus numquam nam. Maxime adipisci qui repellat expedita earum. Illo eos adipisci mollitia deleniti rerum ex aliquam quasi ea!
    </span>
</div>
<img src="" alt="">