.about-me {
    height: 100vh;
    padding-top: 100px;
}

.shadow {
    right: 0;
    top: -190%;
    bottom: 0;
    left: 0;
    background-image: url(./../../assets/img/shadows/purple1.svg);
    background-position: 100% 80%;
}

.text-section {
    padding-top: 10vh;
    width: 40%;
    span {
        font-size: 1.2rem;
        font-family: poppins-light;
    }
}

.space {
    padding-left: 5%;
    gap: 5%;
}

.icon {
    height: 80px;
    min-width: 80px;
    transition: all 225ms ease-in-out;
    z-index: 2;

    &:hover {
        scale: 1.2;
    }
}

.round-border {
    height: 60vh;
    width: 60vh;
    border-radius: 100%;
    border: 5px solid #70E61C;
    align-self: center;
    background-image: url(./../../assets/img/profileImage2.png);
    background-size: 40rem;
    background-position: 50% 20%;
    background-repeat: no-repeat;
}

.line {
    height: 2.5px;
    width: 300px;
    overflow-x: hidden;
    background-color: #70E61C;
    align-self: center;
}

.image-section {
    position: absolute;
    justify-content: flex-end;
    top: 15vh;
    width: 100%;
}