<app-menu></app-menu>
<div class="background">
    <img src="./../../assets/img/png/pic1.png" class="profile-pic">
    <div class="content">
        <div class="name">
            <h2 class="rotate-90 font-light">I am</h2>
            <div>
                <h1>Bilal Alaç</h1>
                <p class="purple font-light description">FRONTEND DEVELOPER</p>
            </div>
        </div>
        <button>Let's talk!</button>
    </div>
    <div class="ellipse">
        <div class="place-bottom">
            <div class="links">
                <div class="line"></div>
                <a href=""><img src="./../../assets/img/png/socialmedia/github.svg" alt="">
                </a>
                <a href=""><img src="./../../assets/img/png/socialmedia/email.svg" alt="">
                </a>
                <a href=""><img src="./../../assets/img/png/socialmedia/linkedIn.svg" alt="">
                </a>
                <a href="mailto:bilalalac@gmail.com">bilalalac@gmail.com</a>
            </div>
            <div class="scroll">
                <p>Scroll down</p>
                <img src="./../../assets/img/png/arrow-up-line-grey.png" alt="">
            </div>
        </div>
    </div>
</div>