<div class="background">
    <img src="./../../assets/img/profileImage.png" class="profile-image">
    <div class="content">
        <div class="name">
            <h2 class="rotate-90 font-light">I am</h2>
            <div>
                <h1>Bilal Alaç</h1>
                <p class="purple font-light description">FRONTEND DEVELOPER</p>
            </div>
        </div>
        <button>Let's talk!</button>
    </div>
    <div class="place-bottom">
        <div class="links">
            <div class="line"></div>
            <a href=""><img src="./../../assets/img/icons/github.svg" alt="">
            </a>
            <a href=""><img src="./../../assets/img/icons/email.svg" alt="">
            </a>
            <a href=""><img src="./../../assets/img/icons/linkedIn.svg" alt="">
            </a>
            <a href="mailto:bilalalac@gmail.com">bilalalac@gmail.com</a>
        </div>
        <div class="scroll">
            <p>Scroll down</p>
            <img src="./../../assets/img/icons/arrowDown.svg" alt="">
        </div>
    </div>
</div>