<section class="contact h100 relative" id="contact">
    <div class="header ai-center">
        <div class="line"></div>
        <h2>Contact</h2>
    </div>
    <div class="padding-l100 padding-r100 contact-form">
        <div class="contact-text">
            <h4>Got a problem to solve?</h4>
            <span>
                <p>Contact me through this form, I am interested in hearing from you, knowing ideas and cotributing to your projects with my work.</p>
                <p>Need a Frontend developer? <b>Contact me!</b></p>
            </span>
        </div>
        <form>
            <input type="text" placeholder="Your name">
            <input type="text" placeholder="Your email">
            <textarea name="" id="" placeholder="Your message"></textarea>
            <div class="checkbox ai-center">
                <input type="checkbox">
                <p>I've read the <a href="">privacy policy</a> and agree to the processing of my data as outlined.</p>
            </div>
            <button disabled class="button">Send message :)</button>
        </form>
    </div>
    <div class="shadow shadow-green"></div>
    <div class="shadow shadow-purple"></div>
</section>