nav {
    height: 10vh;
    background-color: #141D2F;
    color: white;
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
}

.start {
    text-decoration: none;
    color: white;
}

.green {
    color: #70E61C;
}

h3 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
}

.nav-buttons {
    gap: 40px;
    font-family: poppins-light;

    a {
        color: white;
        text-decoration: none;
        font-size: 1.5em;
        transition: 225ms ease-in-out;

        &:hover {
            color: #70E61C;
            animation: underline 0.2s;
            text-decoration: underline;
        }
    }
}