* {
    margin: 0;
}

.h100 {
    padding-top: unset;
}

h3, h4 {
    text-wrap: nowrap;
}

section {
    max-height: 1080px;
}

.profile-image {
    align-self: flex-end;
    margin-left: 180px;
    height: clamp(14rem, 17vw, 20rem);
    width: clamp(23rem, 15vw, 24rem);
    object-fit: contain;
    margin-bottom: 180px;
    scale: 2;
    overflow-y: hidden;
}

.background {
    background-image: url(./../../../assets/img/shadows/profileShadow.svg);
    background-size: clamp(14rem, 23vw, 20rem);
    background-repeat: no-repeat;
    background-position: clamp(2rem, 1vw, 3rem) 1rem;
}

.name {
    z-index: 2;
    padding-right: 200px;
}

.rotate-270 {
    rotate: 270deg;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        z-index: 3;
    }
}

.description {
    font-size: clamp(.95rem, 2.3vw, 3.2rem);
    margin-bottom: 25px;
}

.button {
    background-color: #70E61C;
    color: white;

    &:hover {
        background-color: #9747FF;
    }
}

.line {
    height: 5px;
    width: clamp(50px, 12vw, 150px);
    background-color: #9747FF;
}

.place-bottom {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 130px;

    .mail {
        text-decoration: none;
        color: white;
        font-family: poppins-light;
        font-size: 1.5rem;
        transition: all 225ms ease-in-out;

        &:hover {
            color: #9747FF;
        }
    }
}

.links {
    margin-bottom: -200px;
}

.arrow-down {
    height: 25px;
    padding-right: 3px;

    &:hover {
        cursor: text;
    }
}

.scroll {
    position: relative;
    animation: down 1.5s infinite;
    rotate: 90deg;
    font-size: 1.5rem;
    justify-content: flex-start;
    gap: 5px;
    text-wrap: nowrap;

    &::before {
        position: absolute;
        top: 15px;
        left: 18px;
    }
}

@keyframes down {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translateX(25px);
    }

    40% {
        transform: translate(0);
    }
}