<section class="h100 ai-center jc-between max-width">
    <img src="./../../../assets/img/profileImage.png" class="profile-image background">
    <div class="content">
        <div class="name ai-center padding-r200">
            <h3 class="rotate-270 font-thin">{{ "start.i_am" | translate }}</h3>
            <div>
                <h1>Bilal Alaç</h1>
                <h4 class="text-purple font-light description">{{ "start.title" | translate }}</h4>
            </div>
        </div>
        <a href="#contact"><button class="button">{{ "start.lets_talk" | translate }}</button></a>
    </div>
    <div class="place-bottom jc-between ai-center max-width">
        <div class="links ai-center gap4">
            <div class="line"></div>
            <a class="icon50" href="https://github.com/bilo3131" target="_blank"><img class="icon50" src="./../../assets/img/icons/github.svg" alt="">
            </a>
            <a class="icon50" href="mailto:bilalalac@gmail.com"><img class="icon50" src="./../../assets/img/icons/email.svg" alt="">
            </a>
            <a class="icon50" href="https://www.linkedin.com/in/bilal-alac-475978281/" target="_blank"><img class="icon50" src="./../../assets/img/icons/linkedIn.svg" alt="">
            </a>
            <a class="mail" href="mailto:bilalalac@gmail.com">bilalalac&#64;gmail.com</a>
        </div>
        <div class="scroll font-light ai-center">
            <p>{{ "start.scroll_down" | translate }}</p>
            <img class="arrow-down rotate-270" src="./../../assets/img/icons/arrowDown.svg" alt="">
        </div>
    </div>
</section>