<section class="about-me padding-l100">
    <div class="relative mobile-version max-width">
        <div class="text-section relative" data-aos="fade-right" data-aos-offset="200" data-aos-duration="800">
            <h2>About me</h2>
            <span>
                <p>Hi, I am a fast-learning frontend developer based in Biedenkopf, Germany, with a passion for
                    overcoming
                    challenges and acquiring new skills. I thrive in dynamic environments where I can continuously
                    improve
                    and expand my expertise. My determination and adaptability make me a valuable asset to any team,
                    always
                    eager to take on new projects and push the boundaries of my knowledge.</p>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../../assets/img/icons/bulb.svg" alt="">
                    <p class="text">Bringing ideas to life is a passion of mine. Openness to advice comes naturally, as
                        there's always something new to learn. Sharing my own experiences and advice is something I
                        enjoy, helping to drive projects forward and achieve success. For me, collaboration and mutual
                        support are the keys to successful and fulfilling projects.</p>
                </span>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../../assets/img/icons/puzzle.svg" alt="">
                    <p class="text">Drawing on my gained experience, I strive to improve my work continually. When it
                        comes to my job, I am a perfectionist, ensuring every detail is just right. Once I start
                        something, I tenaciously see it through to the end, as completing projects successfully and
                        maintaining the highest quality is crucial to me.</p>
                </span>
            </span>
        </div>
        <div class="image-section ai-center" data-aos="fade-left" data-aos-offset="200" data-aos-duration="800">
            <div class="round-border"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="shadow"></div>
</section>