<section class="about-me padding-l100">
    <div class="relative mobile-version max-width">
        <div class="text-section relative" data-aos="fade-right" data-aos-offset="200" data-aos-duration="800">
            <h2>{{ "about_me.title" | translate }}</h2>
            <span>
                <p>{{ "about_me.text1" | translate }}</p>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../../assets/img/icons/bulb.svg" alt="">
                    <p class="text">{{ "about_me.text2" | translate }}</p>
                </span>
                <span class="ai-center flex-row space">
                    <img class="icon" src="./../../../assets/img/icons/puzzle.svg" alt="">
                    <p class="text">{{ "about_me.text3" | translate }}</p>
                </span>
            </span>
        </div>
        <div class="image-section ai-center" data-aos="fade-left" data-aos-offset="200" data-aos-duration="800">
            <div class="round-border"></div>
            <div class="line"></div>
        </div>
    </div>
    <div class="shadow"></div>
</section>