<body>
    <div class="header">
        <div>
            <div class="line-left"></div>
            <h1>Portfolio</h1>
            <div class="line-right"></div>
        </div>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action</p>
    </div>
    <div class="all-projects">
        <div class="project">
            <img src="./../../assets/img/laptop-frames/laptop2.jpg" alt="">
            <div class="description">
                <h2>Join</h2>
                <h3>JavaScript | HTML | CSS</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis aliquid fuga culpa voluptates, quis nisi enim harum iusto, natus ab neque recusandae minus, eaque est! In impedit ut consectetur minus?</p>
                <div class="buttons">
                    <button class="primary-button">Live test</button>
                    <button class="secondary-button">Github</button>
                </div>
            </div>
        </div>
        <div class="project reverse">
            <img src="./../../assets/img/laptop-frames/laptop1.jpg" alt="">
            <div>
                <h2>El Pollo Loco</h2>
                <h3>JavaScript | HTML | CSS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur id fuga consectetur commodi voluptate itaque excepturi dolore, tempora temporibus voluptatum asperiores eligendi amet debitis nam ipsum atque aspernatur dicta. Sint.</p>
                <div class="buttons">
                    <button class="primary-button">Live test</button>
                    <button class="secondary-button">Github</button>
                </div>
            </div>
        </div>
        <div class="project">
            <img src="./../../assets/img/laptop-frames/laptop3.jpg" alt="">
            <div>
                <h2>Pokédex</h2>
                <h3>JavaScript | HTML | CSS | Api</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic minus nihil esse id beatae consectetur veritatis optio at commodi sequi a illum culpa, nostrum ab ullam quisquam ea nam in?</p>
                <div class="buttons">
                    <button class="primary-button">Live test</button>
                    <button class="secondary-button">Github</button>
                </div>
            </div>
        </div>
    </div>
</body>