<section class="portfolio relative flex-row" id="portfolio">
    <div class="header" data-aos="fade-left" data-aos-offset="300">
        <div class="flex-row section-name">
            <div class="line-left line"></div>
            <h2>Portfolio</h2>
            <div class="line-right line"></div>
        </div>
        <p class="section-text font-light padding-l100 padding-r100">Explore a selection of my work here - Interact with projects to see my skills
            in action.</p>
    </div>
    <app-project class="all-projects ai-center"></app-project>
    <div class="shadow shadow-green"></div>
    <div class="shadow shadow-purple"></div>
</section>