.ellipse {
    background-image: url(./../assets/img/Background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 20vh;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
}