<body>
    <div class="skills-section">
        <div>
            <img src="./../../assets/img/icons/skills/angular.svg" alt="">
            <p>Angular</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/api.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/css.svg" alt="">
            <p>CSS</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/firebase.svg" alt="">
            <p>Firebase</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/git.svg" alt="">
            <p>GIT</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/html.svg" alt="">
            <p>HTML</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/js.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/materialDesign.svg" alt="">
            <p>Material Design</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/scrum.svg" alt="">
            <p>Scrum</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/ts.svg" alt="">
            <p>TypeScript</p>
        </div>
    </div>
    <div class="description">
        <div class="header">
            <h1>My skills</h1>
            <div class="line"></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis tenetur facilis adipisci nemo eos, qui repellendus libero fuga quas minus iusto fugiat voluptatum. Inventore illum obcaecati voluptatem qui sint sunt?</p>
        <button>Get in touch</button>
    </div>
    <div class="shadow"></div>
</body>