.gap150 {
    gap: 150px;
}

.skills-section {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 10rem;

    img {
        height: 6rem;
        width: 6rem;
        transition: all 225ms ease-in-out;

        &:hover {
            transform: translateY(-30px);
            scale: 1.2;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        width: 6rem;
        height: 6rem;

        p {
            cursor: default;
            font-size: 1.2rem;
            text-align: center;

        }
    }
}

.description {
    width: 50%;
    flex-direction: column;
    text-align: center;
}

.header {
    width: 100%;
    justify-content: flex-end;
    gap: 50px;

    .line {
        height: 5px;
        width: 150px;
        background-color:#9747FF;
        align-content: flex-start;
    }
}

.font-light {
    font-size: 1.2rem;
}

.button {
    background-color: #70E61C;
    color: white;

    &:hover {
        background-color: #9747FF;
    }
}