<section class="gap150 ai-center h100" id="skills">
    <div class="skills-section relative padding-l100" data-aos="zoom-in">
        <div>
            <img src="./../../assets/img/icons/skills/skill1.svg" alt="">
            <p>Angular</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill2.svg" alt="">
            <p>Rest-Api</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill3.svg" alt="">
            <p>CSS</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill4.svg" alt="">
            <p>Firebase</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill5.svg" alt="">
            <p>GIT</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill6.svg" alt="">
            <p>HTML</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill7.svg" alt="">
            <p>JavaScript</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill8.svg" alt="">
            <p>Material Design</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill9.svg" alt="">
            <p>Scrum</p>
        </div>
        <div>
            <img src="./../../assets/img/icons/skills/skill10.svg" alt="">
            <p>TypeScript</p>
        </div>
    </div>
    <div class="description ai-center" data-aos="fade-left">
        <div class="header ai-center">
            <h2>My skills</h2>
            <div class="line"></div>
        </div>
        <p class="font-light">I have gained experience in building projects with various front end technologies and concepts.</p>
        <a href="#contact"><button class="button relative">Get in touch</button></a>
    </div>
</section>