section {
    height: 59.8vh;
    margin-top: 15vh;
    width: 100%;
    flex-direction: column;
    text-align: center;

    p {
        font-family: poppins-thin;
        font-size: 1.3rem;
        margin: 0;
    }
}

h1 {
    font-size: 4rem;
}

h2 {
    margin-top: 5vh;
    font-size: 3rem;
}