.gap150 {
    gap: 150px;
}

.skills-section {
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 5rem;

    img {
        height: 5rem;
        width: 5rem;
        transition: all 225ms ease-in-out;

        &:hover {
            transform: translateY(-20px);
            scale: 1.2;
        }
    }

    div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 6rem;
        height: 6rem;

        p {
            cursor: default;
            font-size: 1.2rem;
            text-align: center;

        }
    }
}

.description {
    width: 50%;
    flex-direction: column;
    text-align: center;
}

.header {
    width: 100%;
    justify-content: flex-end;
    gap: 50px;

    .line {
        height: 5px;
        width: 150px;
        background-color: #9747FF;
        align-content: flex-start;
    }
}

.mobile {
    display: none;
}

.font-light {
    font-size: 1.2rem;
    margin-right: 15px;
    margin-bottom: 40px;
}

.button {
    background-color: #70E61C;
    color: white;

    &:hover {
        background-color: #9747FF;
    }
}

@media (max-width: 1500px) {
    .skills-section {
        width: 65%;
    }
}

@media (max-width: 1390px) {

    .skills-section {
        width: 65%;
        gap: 5rem;
    
        img {
            height: 5rem;
            width: 5rem;
            transition: all 225ms ease-in-out;
    
            &:hover {
                transform: translateY(-20px);
                scale: 1.2;
            }
        }
        
        p {
            font-size: 1rem;
        }
    }
}

@media (max-width: 1355px) {

    .header {

        .line {
            width: 100px;
        }
    }
    
    .skills-section {
        gap: 4rem;

        img {
            height: 4rem;
            width: auto;
        }

        div {

            p {
                font-size: 1rem;
            }
        }
    }

    .font-light {
        font-size: 1rem;
    }
}

@media (max-width: 1270px) {
    .gap150 {
        gap: 50px;
    }
}

@media (max-width: 1170px) {
    .skills-section {
        gap: 3rem;
        padding-top: 100px;
    }
}

@media (max-width: 1140px) {
    .header {
        .line {
            width: 70px;
        }
    }
}

@media (max-width: 1085px) {
    .skills-section {
        gap: 2rem;
    }

    .header {
        gap: 30px;
    }
}

@media (max-width: 950px) {
    .skills-section {
        gap: 1.5rem;
    }
}

@media (max-width: 939px) {
    section {
        flex-direction: column-reverse;
        height: 100%;
    }

    .description {
        align-self: flex-end;
        width: 100%;


        p {
            width: 70%;
            align-self: flex-end;
            text-align: right;
        }
    }

    .skills-section {
        padding-bottom: 40px;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding-right: 50px;

        div {
            width: 20%;
            height: 35%;
        }

        img {
            height: 5rem;
            width: auto;
        }
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
}

@media (max-width: 800px) {
    .skills-section {
        gap: 2rem;

        img {
            height: 3rem;
            width: 3rem;
        }
    }
}

@media (max-width: 770px) {
    section {
        padding-top: 20vh;
    }
}

@media (max-width: 710px) {
    .skills-section {
        img {
            height: 4rem;
        }
    }
}

@media (max-width: 570px) {
    .skills-section {
        width: 90%;
    }
}

@media (max-width: 430px) {
    .skills-section {
        img {
            height: 3rem;
            width: auto;
        }
    }
}