html {
    scroll-behavior: smooth !important;
}

body {
    margin: 0;
    font-family: poppins-bold;
    background-color: #141D2F;
    color: white;
    --sb-track-color: #9747ff00;
    --sb-thumb-color: #9747FF;
    --sb-size: 12px;
}

body::-webkit-scrollbar {
    width: var(--sb-size);
}

body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 12px;
}

body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.max-width {
    max-width: 1800px !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.relative {
    position: relative;
}

h1 {
    margin: 0;
    font-size: clamp(2rem, 5vw, 7rem);
}

h2 {
    margin: 0;
    font-size: clamp(2rem, 9vw, 4rem);
}

h3 {
    margin-top: 0;
    font-size: clamp(2rem, 4vw, 5rem);
}

h4 {
    margin: 0;
    font-size: clamp(1.7rem, 8vw, 2.3rem);
    color: #9747FF;
}

h5 {
    margin: 0;
    font-size: clamp(1.4rem, 5vw, 2rem);
    font-family: poppins-thin;
    color: #70E61C;
}

p {
    font-size: clamp(.8rem, 2vw, 1rem);
}

.text-purple {
    color: #9747FF;
}

.text-green {
    color: #70E61C;
}

.h100 {
    padding-top: 100px;
    height: 100vh;
    max-height: 850px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.gap4 {
    gap: 4rem;
}

.icon50 {
    height: 40px;
    transition: all 225ms ease-in-out;

    &:hover {
        cursor: pointer;
        scale: 1.2;
        rotate: 360deg;
    }
}

.jc-between {
    display: flex;
    justify-content: space-between;
}

.jc-around {
    display: flex;
    justify-content: space-around;
}

.ai-center {
    display: flex;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.padding-l100 {
    padding-left: min(6em, 8%);
}

.padding-r100 {
    padding-right: min(6em, 8%);
}

.font-light {
    font-family: poppins-light;
}

.font-bold {
    font-family: poppins-bold;
}

.font-medium {
    font-family: poppins-medium;
}

.font-thin {
    font-family: poppins-thin;
}

.button {
    width: clamp(9rem, 20vw, 11.25rem);
    height: clamp(3rem, 13vw, 5rem);
    border: unset;
    border-radius: 10px;
    font-size: clamp(1rem, 3vw, 1.2rem);
    font-weight: bold;
    transition: 225ms ease-in-out;
    z-index: 3;
    font-family: poppins;

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }
}

.shadow {
    position: absolute;
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    z-index: 1;
}

@font-face {
    font-family: poppins;
    src: url('./assets/fonts/Poppins-Black.ttf');
}

@font-face {
    font-family: poppins-bold;
    src: url('./assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: poppins-light;
    src: url('./assets/fonts/Poppins-Light.ttf');
}

@font-face {
    font-family: poppins-medium;
    src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: poppins-thin;
    src: url('./assets/fonts/Poppins-Thin.ttf');
}