.footer {
    height: 25vh;
    max-height: 300px;
    border-top: solid 2px #70e61c;
}

.footer-content {
    height: 100%;
}

.copyright {
    font-size: 1rem;
    font-family: poppins-light;
}

.link {
    color: white;
    text-decoration: none;
    font-family: poppins-light;
    transition: all 225ms ease-in-out;

    &:hover {
        cursor: pointer;
        font-family: poppins-light;
        color: #70e61c;
        text-decoration: underline #70e61c;
    }
}

.mobile {
    display: none;
}

.green {
    color: #70e61c;
}

.start {
    cursor: pointer;
    transition: all 225ms ease-in-out;
    position: relative;

    .initials {
        position: absolute;
        top: 14px;
        left: 15px;
    }

    .logo {
        height: 50px;
    }

    &:hover {
        scale: 1.1;
    }
}

