.footer {
    height: 25vh;
    border-top: solid 2px #70E61C;
}

.footer-content {
    height: 100%;
}

.copyright {
    font-size: 1.5rem;
    font-family: poppins-light;
}

.link {
    color: white;
    text-decoration: none;
    font-family: poppins-light;
    transition: all 225ms ease-in-out;

    &:hover {
        cursor: pointer;
        font-family: poppins-light;
        color: #70E61C;
        text-decoration: underline #70E61C;
    }
}

.mobile {
    display: none;
}

.green {
    color: #70E61C;
}

.start {
    text-decoration: none;
    cursor: pointer;
    color: white;
    
    img {
        height: 60px;
    }
}

@media (max-width: 800px) {
    .gap4 {
        gap: 2rem;
    }
}

@media (max-width: 690px) {
    .footer-content {
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 150px;
        padding-top: 50px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: unset;
    }

    .copyright {
        margin: 0;
    }
}