<div class="project jc-between" data-aos="zoom-out" data-aos-offset="250">
    <img src="./../../../assets/img/laptop-frames/laptop2.jpg" alt="">
    <div class="description">
        <h4>Join</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p class="font-light section-text">Task manager inspired by the Kanban System. Creat and organize tasks using
            drag and drop functions, assign users and categories.</p>
        <div class="buttons">
            <a href="https://bilalalac.de/join/login" target="_blank"><button class="button relative primary-button">Live test</button></a>
            <a href="https://github.com/bilo3131/join" target="_blank"><button
                    class="button relative secondary-button">Github</button></a>
        </div>
    </div>
</div>
<div class="project jc-between reverse" data-aos="zoom-out" data-aos-offset="250">
    <img src="./../../../assets/img/laptop-frames/laptop1.jpg" alt="">
    <div>
        <h4>El Pollo Loco</h4>
        <h5>JavaScript | HTML | CSS</h5>
        <p class="font-light section-text">A simple Jump-and-Run game based on an object-oriented approach. Help Pepe to
            find coins and salsa bottles to fight against the chickenboss.</p>
        <div class="buttons">
            <a href="https://bilalalac.de/elPolloLoco" target="_blank"><button class="button relative primary-button">Live test</button></a>
            <a href="https://github.com/bilo3131/elPolloLoco" target="_blank"><button
                    class="button relative secondary-button">Github</button></a>
        </div>
    </div>
</div>
<div class="project jc-between" data-aos="zoom-out" data-aos-offset="250">
    <img src="./../../../assets/img/laptop-frames/laptop3.jpg" alt="">
    <div>
        <h4>Pokédex</h4>
        <h5>JavaScript | HTML | CSS | Api</h5>
        <p class="font-light section-text">Based on the PokéAPI a simple library that provides and catalogues pokémon
            information.</p>
        <div class="buttons">
            <a href="https://bilalalac.de/pokedex" target="_blank"><button class="button relative primary-button">Live test</button></a>
            <a href="https://github.com/bilo3131/pokedex" target="_blank"><button
                    class="button relative secondary-button">Github</button></a>
        </div>
    </div>
</div>