<section class="portfolio relative flex-row">
    <div class="header max-width" data-aos="fade-left" data-aos-offset="100" data-aos-duration="800">
        <div class="flex-row section-name">
            <div class="line-left line"></div>
            <h2>Portfolio</h2>
            <div class="line-right line"></div>
        </div>
        <p class="header-description jc-center font-light padding-l100 padding-r100">{{ "portfolio.description" | translate }}</p>
    </div>
    <app-project class="all-projects ai-center"></app-project>
    <div class="shadow shadow-green"></div>
    <div class="shadow shadow-purple"></div>
</section>