.portfolio {
    flex-direction: column;
    gap: 20vh;
    padding-top: 10vh;
    width: 100%;
}

.line {
    height: 5px;
    background-color: #9747FF;
    align-self: center;
}

.line-left {
    width: 10vw;
}

.line-right {
    width: 34vw;
}

.section-name {
    gap: 2vw;
    justify-content: flex-end;
}

.section-text {
    font-size: 1.2rem;
}

.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;

    h1 {
        margin: 0;
    }
}

.all-projects {
    display: flex;
    flex-direction: column;
    gap: 30vh;
    position: static;
    z-index: 2;

    .description {
        width: 30vw;
    }
}

.project {
    width: 70vw;
    align-items: flex-start;
    text-align: left;
    gap: 7rem;

    img {
        width: 30vw;
        height: 100%;
        border-radius: 10px;
    }
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;

    .buttons {
        justify-content: flex-end;
    }
}

.primary-button {
    background-color: #9747FF;
    color: white;

    &:hover {
        background-color: #70E61C;
        scale: 1;
    }
}

.buttons {
    display: flex;
    gap: 5rem;
}

.secondary-button {
    background-color: transparent;
    border: 2.5px solid #70E61C;
    color: white;

    &:hover {
        background-color: #70E61C;
        scale: 1;
    }
}

.shadow-green {
    top: -50vh;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../../assets/img/shadows/green1.svg);
}

.shadow-purple {
    top: 70vh;
    bottom: 0;
    left: -5%;
    right: 0;
    background-size: 40%;
    background-image: url(./../../../assets/img/shadows/purple2.svg);
}

@media (max-width: 939px) {
    .project {
        flex-direction: column;
        text-align: center;

        img {
            width: 100%;
        }
    }

    .buttons {
        justify-content: space-around !important;
        gap: 0;
    }
}

@media (max-width: 800px) {
    h4 {
        font-size: 2.3rem !important;
    }
}

@media (max-width: 570px) {
    .line-right {
        width: 15vw;
    }
}

@media (max-width: 490px) {
    .buttons {
        flex-direction: column;
        gap: 1rem;
        width: 100%;
    }
}